@use '../../styles/colors.scss' as c;
@use '../../styles/breakpoints.scss' as b;

:host {
  text-transform: uppercase;
  position: relative;
  width: fit-content;

  color: c.$fg-dark-grey;
  &:hover { color: c.$fg-white }

  & p { padding: 0.3rem; }

  @include b.desktop {&{
    font-size: 1.3rem;
  }}
}

.square {
  position: absolute;
  top: 0;
  border: 1px solid c.$fg-dark-grey;

  transition: transform 1s ease-in-out;

  &:hover {
    transform: rotate(90deg);
    border-color: c.$primary;
  }

  height: 3.2rem;
  width: 3.2rem;
  @include b.desktop {&{
    height: 5.4rem;
    width: 5.4rem;
  }}
}
