@use '../../styles/colors.scss' as c;
@use '../../styles/breakpoints.scss' as b;


:host {
  background-color: c.$header-black;
  color: c.$fg-white;

  height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.7rem 1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  @include b.desktop {&{
    padding: 0.8rem 2.5rem;
  }}

}


.logo-container{
  background-color: c.$logo-bg;
  &:hover { background-color: c.$primary; }
  &:active { background-color: c.$primary-pressed; }

  height: fit-content;
  width: fit-content;
  border-radius: 50%;

  box-sizing: border-box;
  padding: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;

  @include b.desktop {&{
    padding: 0.6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
  }}

  .logo {
    background-image: url("/assets/html5.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert( 100% ); // svg color from default black to white

    height: 2rem;
    width: 2rem;
    margin: auto;

    @include b.desktop {&{
      height: 3.5rem;
      width: 3.5rem;
    }}
  }
}

.header-text {
  font-size: 14px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  @include b.desktop {&{
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
  }}
}

.personal-data__hidden {
  display: none;
}