@use "../../colors.scss";

:host {
  background-color: colors.$header-black;
  color: colors.$fg-white;

  height: 5rem;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}