<app-css-is-awesome></app-css-is-awesome>
<div class="logo">
  <div class="line"></div> <p>nabthat</p> <div class="line"></div>
</div>
<div class="show-button-container">
  <button
    class="show"
    [ngClass]="settingsPopupVisible ? 'settings-button__hidden' : '' "
    (click)="showSettingsPopup()"
  > pokaż </button>
  <div
    class="settings-popup"
    [ngClass]="settingsPopupVisible ? '' : 'settings-popup__hidden' "
  >
    <button (click)="resetSettings()"> zresetuj ustawienia </button>
    <button (click)="showPersonalData()"> pokaż dane osobowe </button>
  </div>
</div>