<div class="footer-content">

  <app-css-is-awesome></app-css-is-awesome>

  <div class="logo">
    <div class="line"></div> <p>nabthat</p> <div class="line"></div>
  </div>

  <div class="settings-button-container">

    <button
    class="settings-button button-with-icon"
    (click)="!settingsPopupVisible ? showSettingsPopup() : hideSettingsPopup()"
    >
      pokaż
      <span class="material-symbols-outlined arrow"
      [ngClass]="settingsPopupVisible ? 'arrow__up' : '' ">
        keyboard_arrow_down
      </span>
    </button>

  </div>

</div>

<div class="popup settings-popup"
  [ngClass]=" settingsPopupVisible ? '' : 'popup__hidden' "
  (mouseleave)="hideSettingsPopup()" >

  <button (click)="resetSettings()">
    <span class="material-symbols-outlined">
      chevron_right
    </span>
    zresetuj ustawienia
  </button>
  <button (click)="showPersonalData()">
    <span class="material-symbols-outlined">
      chevron_right
    </span>
    pokaż dane osobowe
  </button>

</div>