@use '../../styles/colors.scss' as c;
@use '../../styles/breakpoints.scss' as b;

:host {
  display: block;
  position: relative;
}

.footer-content {
  background-color: c.$footer-black;
  color: c.$fg-white;
  border-top: 1px solid c.$header-black;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  position: relative;
  z-index: 2;

  padding: 0.5rem 1rem;

  @include b.desktop {&{
    padding: 1.25rem 2.5rem;
  }}
}

.logo {
  color: c.$fg-dark-grey;
  font-size: 1.5rem;

  flex-flow: row;
  align-items: center;
  gap: 0.2rem;

  justify-self: center;
  align-self: center;

  & .line {
    height: 1px;
    width: 2.5rem;
    background-color: c.$fg-dark-grey;
  }

  display: none;
  @include b.desktop {&{
    display: flex;
  }}
}

.settings-button-container {
  justify-self: flex-end;
  align-self: center;
  grid-column: 3;
  
  display: flex;
  justify-content: flex-end;
}

button.settings-button {
  color: c.$fg-grey;
  border-color: c.$fg-dark-grey;

  width: 10.5rem;
  @include b.desktop {&{
    width: 14rem;
  }}
}

button.settings-button__hidden {
  display: none;
}

.settings-popup {
  background-color: c.$fg-white;
  & button { color: c.$fg-dark-grey; }
  & button:hover { color: c.$primary; }
  & button:active { color: c.$primary-pressed; }

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  & button {
    display: flex;
    align-items: center;
    padding: 0.2rem;
  }

  width: 10.5rem;

  @include b.desktop {&{
    width: 14rem;
    padding: 0.2rem;
  }}
}

.settings-popup__hidden {
  display: none;
}


.popup {
  width: 14rem;
  height: 14rem;
  background-color: purple;

  display: block;
  position: absolute;
  bottom: 0; right: 0;

  z-index: 1;
  transition: 1s;

}

.popup__hidden {
  height: 7rem;
  & > * { display: none;  }
}
