@use '../../styles/colors.scss' as c;

:host {
  background-color: c.$footer-black;
  color: c.$fg-white;
  border-top: 1px solid c.$header-black;

  padding: 1rem;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}