$header-black: #0B0C10;
$footer-black: #15161A;
$surface-grey: #2A2D36;

$fg-white: white;
$fg-grey: #A1A7B5;
$fg-article-gray: #787A86;
$fg-dark-grey: #26282F;
$fg-almost-black: #1E1E20;

$logo-bg: #303030;

$primary: #E98402;
$primary-pressed: #CA6E00;
