@use 'colors.scss' as c;
@use 'breakpoints.scss' as b;

* {
  margin: 0;
}

body {
  background-color: c.$surface-grey;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 300;
}

span.bold {
  font-weight: 900;
}

span.thin {
  font-weight: 300;
}

button {
  background-color: transparent;
  color: c.$fg-white;
  border: 1px solid c.$fg-white;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;

  font-size: 0.7rem;
  padding: 0.5rem;

  @include b.desktop {&{
    font-size: 1rem;
    padding: 0.6rem;
  }}
}

button.button-with-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 300;
  font-size: 1.3rem;

  @include b.desktop {&{
    font-size: 2.3rem;
  }}
}

.material-symbols-outlined {
  height: 1rem;
  margin-top: -0.3rem;
  transform: scale(0.8);

  @include b.desktop {&{
    transform: none;
  }}
}

h6 {
  color: c.$fg-white;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}