<div class="h1-container">
  <h1>Nagłówek H1</h1>
  <hr>
</div>

<div class="blocks">

  <div class="action-blocks">

    <div class="block block-1">
      <h6> blok pierwszy </h6>
      <div class="radio-buttons">
        <!-- using a list of enums instead of enum | keyvalue because of set options order -->
        <div class="radio-button"
          *ngFor="let option of [ArticleOptions.First, ArticleOptions.Second, ArticleOptions.Random]">
          <input type="radio" name="opcja" [value]="option" [(ngModel)]="articleOption">
          <label for="{{option}}">Opcja {{option.valueOf()}}</label>
        </div>
      </div>
    </div>

    <div class="block block-2">
      <h6> blok drugi </h6>
      <div class="buttons">
        <button (click)="showArticle()"> zastąp </button>
        <button> doklej </button>
      </div>
    </div>

  </div>
  
  <div class="block display-block block-3">
    <h6> blok z długą nazwą która sama się przytnie bo jest długa </h6>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </div>
  </div>

</div>
