@use '../../styles/colors.scss' as c;
@use '../../styles/breakpoints.scss' as b;


:host {
  color: c.$fg-grey;
}


.h1-container {
  color: c.$fg-white;

  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;

  & hr {
    border: 0.5px solid c.$fg-white;
    width: 6rem;
  }

  @include b.desktop {&{
    padding-top: 2.5rem;
    gap: 1rem;
    & hr { width: 11rem; }
    margin-bottom: 2rem;
  }}
}


.action-blocks {
  display: flex;
  flex-flow: row;

  & .block {
    flex: 1;
  }

  @include b.desktop {&{
    gap: 3rem;
  }}
}

.blocks {
  display: flex;
  flex-flow: column;
  padding: 1.2rem;
  gap: 2rem;

  @include b.desktop {&{
    flex-flow: row;
    & .block-3 { flex: 1; min-width: 0; }
    & .action-blocks { flex: 2; }
  }}

  @include b.desktop {&{
    padding: 3rem;
    gap: 3rem;
  }}
}

.block {
  h6 {
    padding-bottom: 1.5rem;
    @include b.desktop {&{ padding-bottom: 3rem; }}
  }
}

.block-1 {
  .radio-buttons {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    .radio-button {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    @include b.desktop {&{
      gap: 1rem;
      .radio-button { font-size: 1.1rem; }
    }}
  }

  input {
    margin-right: 0.5rem;
    height: 1.2rem;
    width: 1.2rem;
    background-color: transparent;
    color: transparent;

    @include b.desktop {&{
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }}
  }
}

.block-2 {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  .buttons {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }

  button {
    width: 7rem;
    border-color: c.$fg-grey;
    color: c.$fg-grey;
  }

  @include b.desktop {&{
    align-items: center;

    button {
      width: 9rem;
      font-size: 0.8rem;
    } 

    .buttons {
      flex-flow: row;
      gap: 2rem;
    }
  }}
}

.block-3 {
  color: c.$fg-article-gray;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 200;

  @include b.desktop {&{
    font-size: 0.9rem;
  }}
}