<div class="h1-container">
  <h1>Nagłówek H1</h1>
  <hr>
</div>

<div class="blocks">

  <div class="action-blocks">

    <div class="block block-1">
      <h6> blok pierwszy </h6>
      <div class="radio-buttons">
        <!-- using a list of enums instead of enum | keyvalue because of set options order -->
        <div class="radio-button"
          *ngFor="let option of [ArticleOptions.First, ArticleOptions.Second, ArticleOptions.Random]">
          <input type="radio" name="opcja" [value]="option" [(ngModel)]="articleOption">
          <label for="{{option}}">Opcja {{option.valueOf()}}</label>
        </div>
      </div>
    </div>

    <div class="block block-2">
      <h6> blok drugi </h6>
      <div class="buttons">
        <button (click)="replaceArticles()"> zastąp </button>
        <button (click)="appendArticles()"> doklej </button>
      </div>
    </div>

  </div>
  
  <div class="block display-block block-3">
    <h6> blok z długą nazwą która sama się przytnie bo jest długa </h6>
    <article *ngFor="let article of articlesShown">
      {{ article.content }}
    </article>
  </div>

</div>
