@use '../styles/breakpoints.scss' as b;

header {
  position: fixed;
}

.main-and-footer {
  padding-top: 5rem; // accounting for header
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include b.desktop {&{
    padding-top: 7rem; // accounting for header
    min-height: calc(100vh - 7rem);
  }}
}
