$header-black: #0B0C10;
$footer-black: #15161A;
$surface-grey: #2A2D36;

$fg-white: white;
$fg-grey: #A1A7B5;
$fg-dark-grey: #26282F;
$fg-almost-black: #1E1E20;

$primary: #E98402;
$primary-gradient-start: #CA6E00;
$primary-gradient-end: #F79D2A;